body, html {
    background-color: powderblue;
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

.padrao {
    background-color: white;
    color: black;
}

.imagem {
    background-color: burlywood;
    color: white;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.252);
    width: 200px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}